
* {
  box-sizing: border-box; /* Включити padding і border в ширину */
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Забороняємо скрол */
}

.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.game-area {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.map {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.map-row {
  display: flex;
  flex-direction: row;
}

.map-cell {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin: 2px;
  position: relative;
}

.tile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.player {
  background-color: yellow;
}

.map-cell a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.controls {
  margin-top: 20px;
}

.controls button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
